/* lancelot-regular - latin */
@font-face {
  font-family: "Lancelot";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/lancelot-v23-latin-regular.woff2") format("woff2");
}

/* happy-monkey-regular - latin */
@font-face {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/happy-monkey-v14-latin-regular.woff2")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;

  --main-bground-color: #ffe8d6;
  --head-foot-color: #cca590;
  --inactive-tab-color: #b7b7a4;
  --form-green-color: #8b8b76;
  --to-do-entry-color: #f8d6bc;
  --checkmark-color: #535347;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7.5fr 0.8fr;
}

/* Header */

.header {
  background-color: var(--head-foot-color);
  font-family: "Lancelot";
  font-size: 2.8ch;
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 5fr 0.7fr;

  align-items: center;
}

.header h1 {
  height: min-content;
  align-self: center;
  margin-left: 1ch;
}

.header button.show-form-btn,
.header button.tab-btn {
  height: 8ch;
  border: none;
  margin-right: 5ch;
  background-color: var(--head-foot-color);
  cursor: pointer;
}

/* Main */

.main {
  background-color: var(--main-bground-color);
  grid-area: 2 / 1 / 3 / 2;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* Main: Side-Nav */

.cat-form-visible {
  pointer-events: none;
}

.side-nav {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--inactive-tab-color);
}

.content-box {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
}

.tab-btn {
  background-color: var(--inactive-tab-color);
  font-family: "Lancelot";
  font-size: 3ch;
  border: none;

  width: 100%;
  height: 10ch;
  border-bottom: solid 1px var(--main-bground-color);

  cursor: pointer;
}

.btn-ctrl--active {
  background-color: var(--main-bground-color);
}

.tab-btn:last-child {
  border-bottom: none;
}

/* Main: To-Do-Form */
.form-div {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0ch;
  right: 0;
  bottom: 0ch;
  margin: auto;
  overflow: scroll;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5ch;
  height: min-content;
  min-width: min-content;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5ch;
  padding: 5ch;
  background-color: var(--inactive-tab-color);
  border-radius: 3ch;
  outline: 1px solid black;
  outline-offset: -2ch;
}

.req-msg {
  font-family: "Happy Monkey";
  font-size: 2.3ch;
  text-align: center;
  margin-bottom: 1.5ch;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.8ch;
}

.instruct {
  display: flex;
  justify-content: end;
  margin-top: -1.4ch;
}

.title-msg::before {
  content: "Please add a title.";
  /* color: var(--focusColor); */
  font-family: "Happy Monkey";
  font-size: 1.8ch;
}

.description-msg::before {
  content: "Add details (optional).";
  /* color: var(--focusColor); */
  font-family: "Happy Monkey";
  font-size: 1.8ch;
}

.due-date-msg::before {
  content: "Please select a date and time.";
  /* color: var(--focusColor); */
  font-family: "Happy Monkey";
  font-size: 1.8ch;
}

.btn-line,
.cat-btn-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3ch;
  margin-top: 4ch;
}

label {
  display: inline-block;
  width: 15ch;
  font-family: "Happy Monkey";
  font-size: 2.15ch;
}

input[type="text"],
/* input[type="textarea"].description, */
input[type="datetime-local"] {
  display: inline-block;
  flex: 1;
  height: 3ch;
  width: 10%;
  padding-left: 1ch;
  font-family: "Happy Monkey";
  font-size: 1.9ch;
  background-color: var(--main-bground-color);
  border-radius: 1ch;
  border: 0.2ch solid var(--form-green-color);
}

textarea {
  flex: 1;
  /* height: 3ch;
  width: 10%; */
  padding-left: 1ch;
  font-family: "Happy Monkey";
  font-size: 1.9ch;
  background-color: var(--main-bground-color);
  border-radius: 1ch;
  border: 0.2ch solid var(--form-green-color);
  resize: vertical;
}

input[type="text"]:valid {
  background-color: var(--main-bground-color);
}

button.add-to-do,
button.add-category,
button.cancel-category,
button.cancel-to-do {
  font-family: "Happy Monkey";
  font-size: 1.8ch;
  width: 8ch;
  height: min-content;
  background-color: var(--main-bground-color);
  padding: 0.8ch;
  border-radius: 3ch;
  border: 1px solid var(--head-foot-color);
}

button.add-to-do:hover,
button.add-category:hover,
button.cancel-category:hover,
button.cancel-to-do:hover {
  background-color: var(--form-green-color);
  cursor: pointer;
}

/* Main: Tab Content */

.tab-content {
  grid-area: 1 / 2 / 2 / 3;
  font-family: "Happy Monkey";
  margin-top: 2ch;
  margin-left: 2ch;
  display: none;
}

.tab-content--active {
  display: block;
  width: 100%;
  height: 100%;
}

/* Main: Category View */

/* Category View: New Category Form */
.by-category {
  display: flex;
  position: relative;
  height: 92%;
}

.cat-form-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.category-form {
  display: flex;
  flex-direction: column;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--head-foot-color);
  height: min-content;
  width: 50ch;
  padding: 1.5ch;
  border-radius: 1ch;
}

input[type="text"].category {
  margin-left: -5ch;
  width: 70%;
}

.cat-btn-line {
  margin-top: 2ch;
}

/* Category View: New Category Section */
.cat-section {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4ch;
}

.cat-card {
  font-family: "Lancelot";
  font-size: 2ch;
  background-color: var(--inactive-tab-color);
  width: 30ch;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 3ch;
  align-items: center;
  padding: 1ch;
  border-radius: 1ch;
  margin-bottom: 2ch;
}

.cat-content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.new-to-do {
  font-family: "Happy Monkey";
  font-size: 2ch;
  width: 10ch;
  height: 3ch;
  border: 1px solid var(--form-green-color);
  border-radius: 2ch;
  background-color: var(--head-foot-color);
  cursor: pointer;
}

.new-to-do:hover {
  background-color: var(--main-bground-color);
}

.cat-card .delete-icon {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 1ch;
  margin-bottom: 0.5ch;
}

.cat-card .delete-icon > img {
  width: 2ch;
}

.cat-card .delete-icon > img:hover {
  width: 2.2ch;
  cursor: pointer;
}

/* Category Section: New To Do Item */

.to-do-entry {
  margin: 1ch 0 1ch 0;
  background-color: var(--to-do-entry-color);
  border-radius: 1ch;
  padding: 1ch 0 1ch 0;
}

.title {
  text-decoration: underline;
  padding-bottom: 1ch;
}

.details,
.due-date {
  padding-bottom: 1ch;
  font-size: 2.4ch;
}

.to-do-entry > label {
  width: 10ch;
  margin-bottom: 1ch;
}

.complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7ch;
}

input[type="checkbox"].complete {
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 2.5ch;
  width: 2.5ch;
  border: 1px solid var(--form-green-color);
  border-radius: 1ch;
  outline: none;
  background-color: var(--main-bground-color);
  cursor: pointer;
  position: relative;
}

input[type="checkbox"].complete:checked {
  border: 1px solid var(--form-green-color);
  background-color: var(--main-bground-color);
}

input[type="checkbox"].complete:checked::before {
  content: "\2713";
  color: var(--checkmark-color);
  position: absolute;
  bottom: -0.4ch;
  font-size: 4ch;
}

.to-do-entry .delete-icon {
  display: block;
}

.to-do-entry .delete-icon > img {
  width: 2ch;
  margin-top: 3ch;
}

.to-do-entry .delete-icon > img:hover {
  width: 2.2ch;
  margin-top: 2.1ch;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--head-foot-color);
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;

  font-family: "Happy Monkey";
}

footer p {
  height: min-content;
  justify-self: end;
  margin-right: 1ch;
}

footer img {
  height: 3.5ch;
  margin-left: 1ch;
}
