/* lancelot-regular - latin */
@font-face {
  font-family: "Lancelot";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/lancelot-v23-latin-regular.woff2") format("woff2");
}

/* happy-monkey-regular - latin */
@font-face {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/happy-monkey-v14-latin-regular.woff2")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;

  --main-bground-color: #ffe8d6;
  --head-foot-color: #cca590;
  --inactive-tab-color: #b7b7a4;
  --form-green-color: #8b8b76;
  --to-do-entry-color: #f8d6bc;
  --checkmark-color: #535347;
  --low-priority-color: #e7f24f;
  --medium-priority-color: #eeb250;
  --high-priority-color: #bc2702;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7.5fr 0.8fr;
}

/* Header */

.header {
  background-color: var(--head-foot-color);
  font-family: "Lancelot";
  font-size: 2.8ch;
  grid-area: 1 / 1 / 2 / 2;

  display: grid;
  grid-template-columns: 5fr 0.7fr;

  align-items: center;
}

.header h1 {
  height: min-content;
  align-self: center;
  margin-left: 1ch;
}

.header button.show-form-btn,
.header button.tab-btn {
  height: 8ch;
  border: none;
  margin-right: 5ch;
  background-color: var(--head-foot-color);
  cursor: pointer;
}

.header button.show-form-btn:focus {
  border: 1px solid var(--main-bground-color);
}

/* Main */

.main {
  background-color: var(--main-bground-color);
  grid-area: 2 / 1 / 3 / 2;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* Main: Side-Nav */

.cat-form-visible {
  pointer-events: none;
}

.side-nav {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--inactive-tab-color);
}

.forms-box {
  grid-area: 1 / 2 / 2 / 3;
  min-height: 100%;
  height: min-content;
  margin: 0 2ch;
}

.content-box {
  grid-area: 1 / 2 / 2 / 3;
  min-height: 100%;
  height: min-content;
  margin: 0 2ch;
}

.tab-btn {
  background-color: var(--inactive-tab-color);
  font-family: "Lancelot";
  font-size: 3ch;
  border: none;

  width: 100%;
  height: 10ch;
  border-bottom: solid 1px var(--main-bground-color);

  cursor: pointer;
}

.btn-ctrl:focus {
  outline: 3px solid var(--form-green-color);
}

.btn-ctrl--active {
  background-color: var(--main-bground-color);
}

.tab-btn:last-child {
  border-bottom: none;
}

/* Main: Tab opening messages */
.add-cat-msg {
  display: block;
  width: 100%;
  text-align: center;
}

/* Main: To-Do-Form */
.form-div,
.edit-form-div {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: scroll;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5ch;
  height: min-content;
  min-width: min-content;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5ch;
  padding: 5ch;
  background-color: var(--inactive-tab-color);
  border-radius: 3ch;
  outline: 1px solid black;
  outline-offset: -2ch;
}

.req-msg {
  font-family: "Happy Monkey";
  font-size: 2.8ch;
  text-align: center;
  margin-bottom: 1.5ch;
}

.form-line.hidden {
  display: none;
}

.form-line {
  display: flex;
  flex-wrap: wrap;
}

.category-name {
  margin-top: 1.5ch;
  font-size: 2.2ch;
  font-family: "Happy Monkey";
}

.instruct {
  display: flex;
  justify-content: end;
  margin-top: -1.4ch;
}

.title-msg::before {
  content: "Add a title.";
  font-family: "Happy Monkey";
  font-size: 1.8ch;
}

.priority-msg::before {
  content: "Choose a priority level.";
  font-family: "Happy Monkey";
  font-size: 1.8ch;
}

.description-msg::before {
  content: "Add details (optional).";
  font-family: "Happy Monkey";
  font-size: 1.8ch;
}

.due-date-msg::before {
  content: "Select a date and time.";
  font-family: "Happy Monkey";
  font-size: 1.8ch;
}

.btn-line,
.select-btn-line,
.cat-btn-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3ch;
  margin-top: 4ch;
}

.form-line > label,
.category-line > label,
.complete-container > label {
  display: inline-block;
  width: 15ch;
  font-family: "Happy Monkey";
  font-size: 2.15ch;
  margin-top: 1.5ch;
}

input[type="text"],
input[type="datetime-local"],
.task-priority {
  display: inline-block;
  flex: 1;
  height: 3ch;
  width: 10%;
  padding-left: 1ch;
  font-family: "Happy Monkey";
  font-size: 1.9ch;
  background-color: var(--main-bground-color);
  border-radius: 1ch;
  border: 0.2ch solid var(--form-green-color);
  margin-top: 1.5ch;
}

textarea {
  flex: 1;
  padding-left: 1ch;
  font-family: "Happy Monkey";
  font-size: 1.9ch;
  background-color: var(--main-bground-color);
  border-radius: 1ch;
  border: 0.2ch solid var(--form-green-color);
  resize: vertical;
}

input[type="text"]:focus,
textarea:focus,
input[type="datetime-local"]:focus,
.task-priority:focus {
  outline: 2px solid var(--form-green-color);
}

input[type="text"]:valid {
  background-color: var(--main-bground-color);
}

button.add-to-do,
button.edit-to-do,
button.cancel-category,
button.cancel-to-do {
  font-family: "Happy Monkey";
  font-size: 1.8ch;
  width: 8ch;
  height: min-content;
  background-color: var(--main-bground-color);
  padding: 0.8ch;
  border-radius: 3ch;
  border: 1px solid var(--head-foot-color);
}

button.add-to-do:hover,
button.edit-to-do:hover,
button.cancel-category:hover,
button.cancel-to-do:hover {
  background-color: var(--form-green-color);
  cursor: pointer;
}

button.add-to-do:focus,
button.edit-to-do:focus,
button.cancel-category:focus,
button.cancel-to-do:focus {
  border: 2px solid var(--form-green-color);
  outline: 2px solid var(--form-green-color);
}

/* Main: Tab Content */

.tab-content {
  display: none;
  grid-area: 1 / 2 / 2 / 3;
  font-family: "Happy Monkey";
  margin-top: 2ch;
  margin-left: 2ch;
  width: 100%;
  height: 100%;
}

.tab-content--active {
  display: initial;
  grid-area: 1 / 2 / 2 / 3;
  font-family: "Happy Monkey";
  margin-top: 2ch;
  margin-left: 2ch;
  width: 100%;
  height: 100%;
}

/* Main: Category View */

/* Category View: New Category Form */

.select-form-container,
.create-cat-warning-div,
.cat-form-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.select-form,
.create-cat-warning,
.category-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--head-foot-color);
  height: min-content;
  width: 50ch;
  margin-top: 5ch;
  padding: 1.5ch;
  border-radius: 1ch;
}

.select-ask,
.must-create-cat {
  text-align: center;
  font-family: "Lancelot";
}

input[type="text"].category {
  margin-left: -5ch;
  width: 70%;
}

.select-btn-line,
.cat-btn-line {
  margin-top: 2ch;
}

button.add-category,
button.agree-btn,
button.select-to-do-btn {
  font-family: "Happy Monkey";
  font-size: 1.8ch;
  width: 20ch;
  height: min-content;
  background-color: var(--main-bground-color);
  padding: 0.8ch;
  border-radius: 3ch;
  border: 1px solid var(--head-foot-color);
}

button.add-category:hover,
button.agree-btn:hover,
button.select-to-do-btn:hover {
  background-color: var(--form-green-color);
  cursor: pointer;
}

button.add-category:focus,
button.agree-btn:focus,
button.select-to-do-btn:focus {
  outline: 2px solid var(--form-green-color);
}

/* Category View: New Category Section */
.cat-section {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4ch;
}

.cat-card {
  font-family: "Lancelot";
  font-size: 2ch;
  background-color: var(--inactive-tab-color);
  width: 30ch;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 3ch;
  align-items: center;
  padding: 1ch;
  border-radius: 1ch;
  margin-bottom: 2ch;
}

.cat-content {
  width: 100%;
  height: 100%;
  text-align: center;
}

.new-to-do {
  font-family: "Happy Monkey";
  font-size: 2ch;
  width: 10ch;
  height: 3ch;
  border: 1px solid var(--form-green-color);
  border-radius: 2ch;
  background-color: var(--head-foot-color);
  cursor: pointer;
}

.new-to-do:hover {
  background-color: var(--main-bground-color);
}

.new-to-do:focus {
  outline: 2px solid var(--form-green-color);
}

.cat-card .delete-icon {
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: flex-end;
  margin-right: 1ch;
  margin-bottom: 0.5ch;
}

.cat-card .delete-icon > img {
  width: 2ch;
}

.cat-card .delete-icon > img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.cat-card .delete-icon > img:focus {
  border: none;
  transform: scale(1.2);
  padding: 0.5ch;
}

/* Category Section: New To Do Item */

.to-do-entry {
  margin: 1ch 0 1ch 0;
  background-color: var(--to-do-entry-color);
  border-radius: 1ch;
  padding: 1ch 0 1ch 0;
}

.to-do-entry .title {
  text-decoration: underline;
  font-size: 2.6ch;
  padding-bottom: 1ch;
}

.details-title,
.due-title {
  width: 100%;
  text-align: left;
  font-size: 2.5ch;
  margin-left: 1.5ch;
}

.details,
.show-due-date {
  padding-bottom: 1ch;
  font-family: "Happy Monkey";
}

.to-do-entry > label {
  width: 10ch;
  margin-bottom: 1ch;
}

.complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7ch;
}

input[type="checkbox"].complete {
  align-self: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 2.5ch;
  width: 2.5ch;
  border: 1px solid var(--form-green-color);
  border-radius: 1ch;
  outline: none;
  background-color: var(--main-bground-color);
  cursor: pointer;
  position: relative;
}

input[type="checkbox"].complete:focus {
  outline: 2px solid var(--form-green-color);
}

input[type="checkbox"].complete:checked {
  border: 1px solid var(--form-green-color);
  background-color: var(--main-bground-color);
}

input[type="checkbox"].complete:checked::before {
  content: "\2713";
  color: var(--checkmark-color);
  position: absolute;
  bottom: -0.4ch;
  font-size: 4ch;
}

.to-do-entry .delete-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5ch;
}

.to-do-entry .delete-icon > img {
  width: 2ch;
  margin-top: 4ch;
}

.to-do-entry .delete-icon > img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.cat-card .delete-icon > img:focus {
  border: none;
  transform: scale(1.2);
  padding: 0.5ch;
}

.to-do-entry .priority {
  width: 100%;
  height: 3ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2ch;
  padding-right: 2ch;
}

.to-do-entry .priority-color,
.grid-cells .priority-color {
  width: 2.2ch;
  height: 2.2ch;
  border-radius: 50%;
  border: 2px solid var(--form-green-color);
  background-color: var(--high-priority-color);
}

.to-do-entry .priority > img {
  width: 2.2ch;
}

.to-do-entry .priority > img:hover {
  border: none;
  transform: scale(2.2);
  padding: 0.5ch;
}

.to-do-entry .priority > img:focus {
  border: none;
  transform: scale(1.2);
  padding: 0.5ch;
}

/* Main: Due Date View */

.by-due-date {
  width: 100%;
}

/* Main: Due Date, Priority and Completed Tasks View - Grid Styling */
.due-view-div,
.priority-view-div,
.completed-view-div {
  display: grid;
  grid-auto-rows: min-content;
  margin-right: 2ch;
  width: 100%;
}

.due-task-header,
.priority-task-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.completed-task-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.due-task-header,
.priority-task-header,
.completed-task-header {
  border-bottom: 0.3ch solid black;
  font-family: "lancelot";
  font-size: 2ch;
  width: 100%;
  text-align: center;
  padding-bottom: 1ch;
  margin-right: 2ch;
  height: min-content;
}

.due-tasks-row-parent,
.priority-tasks-row-parent,
.completed-tasks-row-parent {
  width: 100%;
  margin-right: 2ch;
  height: min-content;
}

.due-view-row,
.priority-view-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.completed-tasks-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.due-view-row,
.priority-view-row,
.completed-tasks-row {
  height: min-content;
  padding-top: 1ch;
  padding-bottom: 1ch;
  font-family: "Happy Monkey";
  border-bottom: 1px solid black;
}

.headers,
.grid-cells {
  text-align: center;
  height: min-content;
}

.headers:not(:last-of-type),
.grid-cells:not(:last-of-type) {
  width: 100%;
  border-right: 0.2ch solid black;
}

.due-view-due,
.priority-view-priority {
  grid-column: 1;
}

.due-view-title,
.priority-view-title {
  grid-column: 2;
}

.due-view-description,
.priority-view-description {
  grid-column: 3;
}

.due-view-priority,
.priority-view-due {
  grid-column: 4;
}

.due-view-complete,
.priority-view-complete {
  grid-column: 5;
}

.due-view-delete,
.priority-view-delete {
  grid-column: 6;
}

.complete-view-complete {
  grid-column: 1;
}

.complete-view-title {
  grid-column: 2;
}

.complete-view-description {
  grid-column: 3;
}

.complete-view-priority {
  grid-column: 4;
}

.complete-view-delete {
  grid-column: 5;
}

.grid-cells .priority-color {
  align-items: center;
  width: 2.2ch;
  height: 2.2ch;
  border-radius: 50%;
  border: 2px solid var(--form-green-color);
  background-color: var(--high-priority-color);
  margin-left: auto;
  margin-right: auto;
}

.grid-cells > img {
  width: 2ch;
}

.grid-cells > img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--head-foot-color);
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;

  font-family: "Happy Monkey";
}

footer p {
  height: min-content;
  justify-self: end;
  margin-right: 1ch;
}

footer a:focus {
  outline: 3px solid var(--form-green-color);
}

footer img {
  height: 3.5ch;
  margin-left: 1ch;
}
